<ul>
    {{#each userFeedbackdata}}
    <li>
        <h4>{{teacher.firstname}} {{teacher.lastname}}</h4>
        <h4>{{student.firstname}} {{student.lastname}}</h4>
        <p>{{text}}</p>
        <p>{{subjects.name}}</p>
    </li>
    {{/each}}
</ul>

<hr><hr>
<br><br>

<form action="/feedbackDashboard" method="POST">
    <div>    
        <label for="feedback">FEEDBACK</label><br>
        <textarea name="text" id="feedback" placeholder="Voer hier je feedback in" required></textarea>
    </div>
    <div>
        <label for="student">VOOR WELKE STUDENT IS DEZE FEEDBACK?</label><br>
        <select name="student" id="student" required>
            <option disabled selected>Selecteer student ...</option>
            {{#each students}}
            <option value="{{id}}">{{firstname}}</option>
            {{/each}}
        </select>
    </div>
    <br><br>
    <button type="submit">Verstuur feedback</button>
</form>
