<ul>
    {{#each users}}
    <li>
        <p>{{firstname}} {{lastname}}</p>
    </li>
    {{/each}}
</ul>

<ul>
    {{#each userFeedbackdata}}
    <li>
        <h4>{{teacher.firstname}} {{teacher.lastname}}</h4>
        <h4>{{student.firstname}} {{student.lastname}}</h4>
        <p>{{text}}</p>
        <p>{{subjects.name}}</p>
    </li>
    {{/each}}
</ul>



<form action="/feedbackDashboard" method="POST">
    <textarea name="text" placeholder="Voer hier je feedback in" required></textarea>
    <select name="subject_id">
        {{#each userFeedbackdata}}
        <option value="{{this.users.id}}">{{this.users.firstname}}</option>
        {{/each}}
    </select>
    <button type="submit">Verstuur feedback</button>
</form>
