<div class="container">
    <div class="profile-card">
        <div class="profile-image">
            <img src="images/avatars/{{user.firstname}}{{user.lastname}}.jpg" alt="{{firstname}}">
        </div>
        <div class="profile-info">
            <div class="left_side">
                <div>
                    <label>Achternaam</label>
                    <span class="value">{{user.lastname}}</span>
                </div>
                <div>
                    <label>Adres</label>
                    <span class="value">{{user.address}}</span>
                </div>
                <div>
                    <label>Geboortedatum</label>
                    <span class="value">{{user.age}}</span>
                </div>
                <div>
                    <label>Leerling niveau</label>
                    <span class="value">{{user.level}}</span>
                </div>
                <div>
                    <label>GSM-nummer</label>
                    <span class="value">{{user.phone}}</span>
                </div>
            </div>
            <div class="right_side">
                <div>
                    <label>Voornaam</label>
                    <span class="value">{{user.firstname}}</span>
                </div>
                <div>
                    <label>Stad</label>
                    <span class="value">{{user.city}}</span>
                </div>
                <div>
                    <label>Geboorteland</label>
                    <span class="value">{{user.country}}</span>
                </div>
                <div>
                    <label>Geslacht</label>
                    <span class="value">{{user.gender}}</span>
                </div>
                <div>
                    <label>E-mail</label>
                    <span class="value">{{user.email}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
