<div class="container">
    <div class="profile-card">
        <div class="profile-image">
            <img  src="./images/{{user.firstname}}.jpg" alt="{{firstname}}">
        </div>
        <div class="profile-info">
            <p>
                <label>Voornaam</label><br>
                <span class="value">{{user.firstname}}</span>
            </p>
            <p>
                <label>Achternaam</label><br>
                <span class="value">{{user.lastname}}</span>
            </p>
            <p>
                <label>Leerling niveau</label><br>
                <span class="value">{{user.level}}</span>
            </p>
            <p>
                <label>Geslacht</label><br>
                <span class="value">{{user.gender}}</span>
            </p>
            <p>
                <label>E-mail</label><br>
                <span class="value">{{user.email}}</span>
            </p>
            <p>
                <label>Stad</label><br>
                <span class="value">{{user.city}}</span>
            </p>
            <p>
                <label>Adres</label><br>
                <span class="value">{{user.address}}</span>
            </p>
            <p>
                <label>GSM-nummer</label><br>
                <span class="value">{{user.phone}}</span>
            </p>
            <p>
                <label>Land</label><br>
                <span class="value">{{user.country}}</span>
            </p>
        </div>
    </div>
</div>