{{> up-nav}}
<article>
    <div class="page_title title--subject">
        <h1>{{subject.name}}</h1> 
    </div>
    <div class="teachers_subject">
        {{#each subject.teacher}}
        <p class="right_title_teacher">{{firstname}} {{lastname}}</p>
        {{/each}}
    </div>
    {{#ifEquals user.role.label "Teacher"}}
    <section class="section-document">
        <div class="detail container--upload">
            {{> upload}}
        </div>
    </section>
    {{else}}
    <section class="section-document">
        <div class="detail">
            {{> subject-buttons}}
            {{> upload}}
        </div>
        <section class="documenten documenten--points">
            {{#each points}}
            <div class="documenten-text">
                <div>
                    <p class="point_color" id="point">{{point}}/20</p>
                </div>
                <p class="comm_colo">{{comment}}</p>
                <p class="comm_colo">23 mei 2023</p>
            </div>
            {{/each}}

            <div class="documenten-text">
            </div>
        </section>

        <section class="documenten documenten--docu hidden">
            <div class="documenten-word">
                <p>Naam</h2>
                <p>Laatst gewijzigd</h2>
            </div>

            <div class="documenten-text">
                <div>
                    <img src="/images/pdf.svg" alt="">
                    <p class="doc-text">Cursus{{subject.name}}.pdf</p>
                </div>
                <p class="doc-text">23 mei 2023</p>
            </div>
            <div class="documenten-text">
                <div>
                    <img src="/images/pdf.svg" alt="">
                    <p class="doc-text">taak_opdrach2.pdf</p>
                </div>
                <p class="doc-text">23 mei 2023</p>
            </div>
            <div class="documenten-text">
                <div>
                    <img src="/images/pdf.svg" alt="">
                    <p class="doc-text">taak_semester1.pdf</p>
                </div>
                <p class="doc-text">23 mei 2023</p>
            </div>
            </div>
        </section>
    </section>
    {{/ifEquals}}
</article>