<div class="feedback-container">
    <div class="feedback-card">
        <div class="teacher-part">
            <div class="teacher-profile">
                <div class="teacher-image">
                    <img src="images/avatars/{{student.firstname}}{{student.lastname}}.jpg" alt="{{firstname}}">

                </div>
                <div class="teacher-name">
                    <h4>{{student.firstname}} {{student.lastname}}</h4>
                    <p>{{teacher.firstname}} {{teacher.lastname}} - {{subjects.name}}</p>
                </div>
            </div>
            <div class="feedback-content">
                <form class="form-update" action="/feedbackDashboard/{{ id }}" method="post">
                    <input type="text" id="{{ id }}" name="text" value="{{ text }}"></input>
                    <div class="button-container"> 
                        <button class="btn btn-edit" type="submit" value="done">Bewerken
                        </button>
                    </form>
                    <form class="form-delete" action="/deleteFeedback/{{ id }}" method="post">
                        <input type="hidden" name="_method" value="DELETE"></input>
                        <button class="btn btn-delete btn--clear" type="submit" value="delete">Verwijderen</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>