<div class="feedback-container">
    <div class="feedback-card">
        <div class="teacher-part">
            <div class="teacher-profile">
                <div class="teacher-image">
                    <img src="/images/{{student.firstname}}.jpg" alt="{{student.firstname}}">
                </div>
                <div class="teacher-name">
                    <h4>{{student.firstname}} {{student.lastname}}</h4>
                    <p>{{teacher.firstname}} {{teacher.lastname}} - {{subjects.name}}</p>
                </div>
            </div>
            <div class="feedback-text">
                <p>{{text}}</p>
            </div>
        </div>
    </div>
</div>