<a href="/subjects/{{subjects.id}}" class="feedback-container">
    <div class="feedback-card">
        <div class="teacher-part">
            <div class="teacher-profile">
                <div class="teacher-image">
                    <img src="images/avatars/{{teacher.firstname}}{{teacher.lastname}}.jpg" alt="{{firstname}}">
                </div>
                <div class="teacher-name">
                    <h3>{{subjects.name}}</h3>
                    <p>{{teacher.firstname}} {{teacher.lastname}}</p>
                </div>
            </div>
            <div class="feedback-text">
                <p>{{text}}</p>
            </div>
        </div>
    </div>
</a>
