<div class="page_title">
    <h1>Coaches:</h1>
</div>
<div class="dashboard_users">
<ul>
    {{#each users}}
    {{#ifEquals role.label "Coach"}}
    <a href="/user/{{id}}">
        <li class="profile_user">
            <div class="image_of_user">
                <img src="images/avatars/{{firstname}}{{lastname}}.jpg" alt="{{firstname}}">
            </div>
            <div class="user_info_profile">
                <p>{{firstname}} {{lastname}}</p>
                <p>{{username}}</p>
            </div>
        </li>
    </a>
    {{/ifEquals}}
    {{/each}}
</ul>
</div>