<div class="container">
    <div class="profile-card">
        <div class="profile-image">
            <img src="/images/{{users.firstname}}.jpg" alt="{{firstname}}">
        </div>
        <div class="profile-info">
            <div class="left_side">
                <p>
                    <label>Voornaam</label><br>
                    <span class="value">{{users.firstname}}</span>
                </p>
                <p>
                    <label>Achternaam</label><br>
                    <span class="value">{{users.lastname}}</span>
                </p>
                <p>
                    <label>Leerling niveau</label><br>
                    <span class="value">{{users.level}}</span>
                </p>
                <p>
                    <label>Geslacht</label><br>
                    <span class="value">{{users.gender}}</span>
                </p>
                <p>
                    <label>E-mail</label><br>
                    <span class="value">{{users.email}}</span>
                </p>
            </div>
            <div class="right_side">
                <p>
                    <label>Stad</label><br>
                    <span class="value">{{users.city}}</span>
                </p>
                <p>
                    <label>Adres</label><br>
                    <span class="value">{{users.address}}</span>
                </p>
                <p>
                    <label>GSM-nummer</label><br>
                    <span class="value">{{users.phone}}</span>
                </p>
                <p>
                    <label>Land</label><br>
                    <span class="value">{{users.country}}</span>
                </p>
            </div>
        </div>
    </div>
        <button class="button-6" role="button">Bewerk</button>
</div>

